<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Subject</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style_index.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <div class="add-main">
    {% include 'flashed_message.html' %}
    <div class="profile-form">
        <br>
    
    <form method="POST" action="{{url_for('add_sub')}}" class="logform" id="user-form">
        <div class="add-inner" style="margin-top:4rem;">
        <h1>Add Subject</h1>
        <label for="subject_name" class="form-label" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:black;font-size:larger;text-shadow:none;">Subject Name</label>
        <input type="text" name="subject_name" placeholder="Subject Name" class="form-control" required style="border: 1px solid black;">
        <br>
        <label for="subject_description" class="form-label" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:black;font-size:larger;text-shadow:none;">Subject Description</label>
        <div>
        <textarea name="subject_description" placeholder="Subject_description">
        </textarea>
        </div>
        <div style="display: inline-block;">
        <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <div style="display: inline-block;">
            <a href="{{ url_for('admin') }}" class="btn btn-danger">cancel</a>
        </div>
    </div>
    </form>
</div>
   </div>









  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
           
</body>
</html>